@media (max-width:1440px) {

   /*-----------------FEATURES----------------*/

   .top_head {
      background-position: 0px 0px;
   }
   .top_slider .my_icons {
      bottom: -10px;
   }
   .hunting h3 {
      font-size: 55px;
   }
   .hunting p {
      font-size: 24px;
   }
   /***contact page form****/
   .form_div {
      margin: -415px 100px 0px 100px!important;
   }
   .boys {
      margin-top: 50px;
   }
   /**************home*********************************/
   .home_top_store .l7 {
      padding: 250px 0px 0 130px;
   }

   .home_second{
      margin-top: 0;
   }

   .divide{
      margin-top: -15px;
   }

   .gluton_last img{
      margin: 6% 0;
   }

   .home_history .home_wrap {
       position: relative;
       top: -100px;
   }

   .home_history{
      height: 575px;
   }

   .app_static_overflow{
      height: 560px;
   }

   .app_static_back {
      width: 101%;
      height: 100%;
      background-position: -10px -35px;
      background-size: contain;
      margin-top: -90px;
   }
   /*----------------------------IOS sticker-----------------------*/
   .is-page .top_head{
      margin-bottom: 280px!important;
   }

   .iphone{
      width: 250px;
   }

   .container .middle-block{
      padding-top: 0px;
      padding-bottom: 0px;
   }


}

@media (max-width: 1367px) {
   /*----------------------------------FEATURES---------------------------------------------------------*/
   /********header ***********/
   .head {
      padding: 20px 50px 0 50px;
   }
   .top_head {
      background-size: initial;
      min-height: 500px;
   }
   .top_slider {
      margin-top: 0px;
   }
   .hunting h3 {
      font-size: 44px;
   }
   .hunting p {
      font-size: 18px;
      width: 90%;
      margin: 0 auto;
   }
   .yel_img_inner img {
      left: 2%;
   }
   .speech span {
      top: -14px;
      font-size: 100px;
   }
   .food_thought .right {
      top: 260px;
   }
   .mobile_twin .col:first-child {
      padding-top: 150px;
   }
   /***contact page form****/
   .form_div {
      margin: -300px 100px 0px 100px!important;
   }

   /*------------------------------------CHARACTER (IOS)---------------*/
   .about_food {
      /*margin-top: 225px;*/
   }

   .about_food div span{
      font-size: 40px;
   }

   .ios_top_back a img{
      width: 200px;
   }

   .about_food+img {
      margin-top: 40px;
   }
   .is-page .boys {
      margin-top: 200px;
   }
   .is-page .foot_img .foot .letter {
      margin-top: 50px;
   }
   /*------------------------------- CONTACTS----------------------*/
   .foot_img_contact {
      margin-top: -190px!important;
   }
   /*------------------restaurant 2----------*/
   .right-box .restr_contacts_right .some_info {
      font-size: 18px;
   }
   .restaurant .foot_img .foot .letter {
      margin-top: 50px;
   }
   /************************ABOUT ******************/
   .wrap_dowm .drop_backg img {
      width: 120px;
   }
   .wrap_dowm .drop_backg {
      background-position: -16px -12px;
   }
   .creative_right p:first-child {
      margin-top: 85px;
   }
/*-------------------------  HOME   -------------------------------*/
   .home .head_main_backgr{
      height: 1110px;
   }

}

@media (max-width: 1280px) {

   /*-------------------------  HOME   -------------------------------*/
   .img_holder_logo h3{
      font-size: 60px;
   }

   .head .logo p{
      font-size: 17px;
   }

   .navi li a{
      font-size: 16px;
   }

   .top_phone_wrap img{
      width: 200px;
   }

   .home_top_store .l7{
      padding: 100px 0px 0 130px;
   }

   .home .head_main_backgr{
      height: 840px;
   }

   .home_second h4{
      font-size: 100px;
   }

   .home_second p{
      font-size: 24px;
   }

   .main_featch>p, .app_static h1{
      font-size: 80px;
   }

   .home .home_icons div{
      margin: 0 auto;
      text-align: center;
   }

   .home .home_icons img{
      width: 50px;
   }

   .home .home_icons p, .app_static span{
      font-size: 20px;
   }

   .app_static_back{
      margin-top: 0px;
   }

   .gluton_last img {
       margin: 8% 0;
   }

   .flex_wrapper img{
      width: 60px;
   }

   .history_line{
      width: 65px;
   }

   .flex_wrapper section:first-child{
      margin-top: 65px;
   }

   .home_history {
       height: 445px;
   }

   .malaysia_service{
      margin-top: 100px;
   }

   .foot .logo p{
      font-size: 17px;
   }

   .foot .logo span{
      font-size: 13px;
   }
/*--------------FEATURES------------------*/
/*--------------IOS------------------*/
   .iphone {
       width: 150px;
   }

   .is-page .item{
      font-size: 0px;
   }

   .about_food div span {
       font-size: 30px;
   }

   



}

@media (max-width:1024px) {

/*--------------FEATURES------------------*/
   .top_head{
      min-height: 450px;
   }

   .yel_img_inner img{
      width: 280px;
      top: -220px;
   }





}
